/* music */
#music{
    position:fixed;
    width:15vw;
    height:15vw;
    top:3vh;
    right:4vw;
    z-index:5;
    border:4px solid #ef1639;
    border-radius: 50%;
    background-color: #fff;
}
#music >img:first-of-type{
    position:absolute;
    top:24%;
    right:2.5%;
    width:28.0421%;
    z-index:6;
}
#music >img:last-of-type{
    position:absolute;
    width:79%;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    margin:auto;
    width:79%;
}
#music .play{
    -webkit-animation:music_disc 4s linear infinite ;
    -o-animation: music_disc 4s linear infinite;
    animation: music_disc 4s linear infinite;
}
@-webkit-keyframes music_disc {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform:rotate(0deg) ;
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform:rotate(360deg) ;
        transform: rotate(360deg);
    }
}
@keyframes music_disc {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform:rotate(0deg) ;
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform:rotate(360deg) ;
        transform: rotate(360deg);
    }
}
/* page bg */
.page{
    height: 100%;
    position: absolute;
    width:100%;
}
.page .bg{
    z-index: -1;
    position:absolute;
    width:100%;
    height:100%;

}

/* page1 */
#page1{
    display:block;

}
#page1 .bg{
    background: url("../images/p1_bg.jpg") no-repeat center;
    background-size: 100%;
}
#page1 .p1_lantern{
    position: absolute;
    top:-3.4%;
    right: 0;
    left:0;
    margin:auto;
    background: url("../images/p1_lantern.png") no-repeat center bottom;
    background-size: 100%;
    width:45vw;
    height: 71.2vh;
    font-size: 3.506rem;
    padding-top:31vh;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -ms-box-sizing:border-box;
          -o-box-sizing:border-box;

}
#page1 .p1_lantern:before{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    margin:auto;
    width:30vm;
    height:30vw;
    background: #d60b3b;
    border-radius: 50%;
    opcity:0.5;
    box-shadow: 0 0 10vw 10vw #d60b3b;
   -webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
      -moz-box-shadow: 0 0 10vw 10vw #d60b3b;
       -ms-box-shadow: 0 0 10vw 10vw #d60b3b;
        -o-box-shadow: 0 0 10vw 10vw #d60b3b;
    -webkit-animation: p1_lantern 0.5s infinite alternate;
    -o-animation:p1_lantern 0.5s infinite alternate ;
    animation:p1_lantern 0.5s infinite alternate ;

}
@keyframes p1_lantern {
    0%{opacity: 0.5;
        -webkit-transform: scale(0.8,0.8);
        -moz-transform:scale(0.8,0.8) ;
        -ms-transform: scale(0.8,0.8);
        -o-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
    100%{opacity: 1;

    }
}
@-webkit-keyframes p1_lantern {
    0%{opacity: 0.5;
        -webkit-transform: scale(0.8,0.8);
        -moz-transform:scale(0.8,0.8) ;
        -ms-transform: scale(0.8,0.8);
        -o-transform: scale(0.8,0.8);
        transform: scale(0.8,0.8);
    }
    100%{opacity: 1;

    }
}
#page1 .p1_imooc{
    position: absolute;
    right:0;
    bottom:9vh;
    left:0;
    background: url("../images/p1_imooc.png") no-repeat center center;
    background-size:100%;
    width:27.656vw;
    height: 18.63vh;
    margin:auto;
}
#page1 .p1_words{
    position: absolute;
    left:0;
    right:0;
    bottom:48px;
    text-align: center;
    font-size:2.134rem;
    color:#231815;
}

/* page2 */
#page2{
    display:none;
    -webkit-transition:0.5s;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition: 0.5s ;
    transition: 0.5s ;

}
.fadeout{
    opacity:0.3;
    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
}
#page2 .bg{
    background: url("../images/p2_bg.jpg") no-repeat center;
    background-size: 100%;
}
#page2 .p2_article{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background: url("../images/p2_circle_outer.png") no-repeat center center;
    background-size: 100%;
    width:59.375vw;
    height: 59.375vw;
    border-radius: 50%;
    -webkit-animation: p2_outer 1s linear 3s infinite;
    -o-animation: p2_outer 1s linear 3s infinite;
    animation: p2_outer 1s linear 3s infinite;
}
@-webkit-keyframes p2_outer {


    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes p2_outer {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
#page2 .p2_article:before{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    content: "";
    background: url("../images/p2_circle_middle.png") no-repeat center center;
    background-size: 100%;
    width:45.375vw;
    height: 45.375vw;
    border-radius: 50%;
    -webkit-animation: p2_mid 1s linear 2s infinite;
    -o-animation: p2_mid 1s linear 2s infinite;
    animation: p2_mid 1s linear 2s infinite;
}
@-webkit-keyframes p2_mid {


    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-720deg);
        -moz-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        -o-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}
@keyframes p2_mid {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-720deg);
        -moz-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        -o-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}
#page2 .p2_article:after{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    content: "";
    background: url("../images/p2_circle_inner.png") no-repeat center center;
    background-size: 100%;
    width:39.9375vw;
    height: 39.9375vw;
    border-radius: 50%;
    -webkit-animation: p2_inner 1s linear 1s infinite;
    -o-animation: p2_inner 1s linear 1s infinite;
    animation: p2_inner 1s linear 1s infinite;
}
@-webkit-keyframes p2_inner {


    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-1080deg);
        -moz-transform: rotate(-1080deg);
        -ms-transform: rotate(-1080deg);
        -o-transform: rotate(-1080deg);
        transform: rotate(-1080deg);
    }
}
@keyframes p2_inner {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-1080deg);
        -moz-transform: rotate(-1080deg);
        -ms-transform: rotate(-1080deg);
        -o-transform: rotate(-1080deg);
        transform: rotate(-1080deg);
    }
}
#page2 .p2_2017{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;

    background: url("../images/p2_2016.png") no-repeat center center;
    background-size: 100%;
    width:27.5vw;
    height: 6.24vh;

}
/* page3 */
#page3{
    display: none;
    -webkit-transition:0.5s;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition: 0.5s ;
    transition: 0.5s ;
}
.fadein{
    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
}
#page3 .bg{
    background: url("../images/p3_bg.jpg") no-repeat center;
    background-size: 100%;
}
#page3 .p3_title{
    width:48.125vw;
    height:50vh;
    position:absolute;
    top:21vh;
    right:0;
    left:0;
    margin:auto;
    background: url("../images/p3_title.png") no-repeat center center;
    background-size: 100%;
}
#page3 .p3_left{
    width:22.8125vw;
    height:41.652vh;
    position:absolute;
    top:25.48vh;
    left:3.75vw;
    background: url("../images/p3_couplet_second.png") no-repeat center center;
    background-size: 100%;
}
#page3 .p3_right{
    width:22.8125vw;
    height:41.652vh;
    position:absolute;
    top:25.48vh;
    right:3.75vw;
    background: url("../images/p3_couplet_first.png") no-repeat center center;
    background-size: 100%;
}
#page3 .p3_blessing{
    width:32vw;
    height:32vw;
    position:absolute;
    bottom:10vh;
    right:0;
    left:0;
    margin:auto;
    border-radius: 50%;
    background: url("../images/p3_blessing.png") no-repeat center center;
    background-size: 100%;
    -webkit-animation: p3_blessing 2s linear infinite;
    -o-animation: p3_blessing 2s linear infinite;
    animation: p3_blessing 2s linear infinite;
}
@keyframes p3_blessing {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}